* {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

body {
    background-color: #000;
    display: flex;
}

.app {
    margin: auto;
    width: 900px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url(../img/bg1.png);
    border: 2px solid #fff;
    display: flex;
}

table {
    border-spacing: 0;
}

.pikachu:hover {
    opacity: 0.7;
    cursor: url("../img/pointer.png"), url("../img/pointer.png"), default;
}

#board {
    margin: auto;
}