* {
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

body {
    background-color: #000;
    display: flex;
}

.app {
    margin: auto;
    width: 900px;
    height: 600px;
    background-repeat: no-repeat;
    background-image: url(../img/bg1.png);
    border: 2px solid #fff;
    display: flex;
}

.path::before {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    right: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: red;
}

table {
    border-spacing: 0;
}

.pikachu:hover {
    opacity: 0.7;
    cursor: url("../img/pointer.png"), url("../img/pointer.png"), default;
}

td {
    position: relative;
    width: 40px;
    height: 50px;
}

#board {
    margin: auto;
}